.list-container {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  justify-content: center;
  align-items: center;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.3);
}

.dialog {
  background: white;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  padding: 20px;
  border-radius: 5px;
  transform: translate(-50%, -50%);
}
