.App {
  text-align: center;
  background-color: #203354;
  display: flex;
  flex-direction: column;
  width: 1000px;
  margin: auto;
  padding-top: 10px;
}

@media only screen and (min-width: 520px) {
  .App {
    width: 500px;
    background-color: white;
  }
}
